header{
  background-color: #666;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: black;
}

body{
  background-color:  #3a6f85;
}

.foto1{
  float: center;
}

.from{
  color: black;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  justify-content: space-between;
  left: 275px;
  align-content: space-between;
  top: 100px;
}

.ifrom{
  position: absolute;
  justify-content: space-between;
  left: 350px;
  align-content: space-between;
  top: 100px;
}


.to{
  color: black;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  justify-content: space-between;
  left: 600px;
  align-content: space-between;
  top: 100px;
}

.ito{
  position: absolute;
  justify-content: space-between;
  left: 700px;
  align-content: space-between;
  top: 100px;
}

.buscar{
  color: black;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  justify-content: space-between;
  left: 275px;
  align-content: space-between;
  top: 150px;
}

.btn_login{
  background-color: rgb(17, 81, 110);
  border: none;
  color: rgba(7, 2, 2, 0.829);
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  height: 40px;
  width: 180px;
  position: absolute;
  justify-content: space-between;
  left: 1100px;
}

.btn_Buscar{
  background-color: rgb(17, 81, 110);
  border: none;
  color: rgba(7, 2, 2, 0.829);
  padding: 1px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  height: 23px;
  width: 180px;
  position: absolute;
  justify-content: space-between;
  left: 900px;
  align-content: space-between;
  top: 100px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  color: black;
  position: absolute;
  justify-content: space-between;
  left: 270px;
  align-content: space-around;
  top: 180px;
}


td, th {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}

tr {
    background-color: lightblue;
}

label{
  font-family: cursive;
  color: white;
}

.contenedor{
  position: absolute;
  justify-content: space-between;
  right: -20px;
  left: 10px;
}
