header{
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

body {
  background-color:  #3a6f85;
}

h1{
  color: black;
  font-family: cursive;
  text-align: center;
}

label{
  
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  text-align: center;
}

input{
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  border-radius: 5%;
}

.btn_Registro{
  background-color: rgb(17, 81, 110);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  width: 200px;
}

.foto1{
  float: center;
}

.contenedor{
  position: absolute;
  justify-content: space-between;
  right: -600px;
  left: 550px;
}


